<!DOCTYPE html>
<html lang="{{ .Lang }}" data-figures="{{ .Params.figurePositionShow }}"{{ if .IsPage }} class="page"{{ end }}>
  <head>
    {{- partial "head" . }}
    <!-- styles definition-->
    {{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") -}}
    {{ $mainSassFile :=  "sass/main.sass" }}
    {{- $styles := resources.Get $mainSassFile | resources.ExecuteAsTemplate $mainSassFile . | resources.ToCSS $options | resources.Fingerprint "sha512" }}

    <!-- scripts definition -->
    {{- $highlightPath := "js/highlight.js" }}
    {{- $highlight := resources.Get $highlightPath | resources.ExecuteAsTemplate $highlightPath . }}

    {{- $functionsScriptPath := "js/functions.js" }}
    {{- $functions := resources.Get $functionsScriptPath | resources.ExecuteAsTemplate $functionsScriptPath . }}

    {{- $codeScriptPath := "js/code.js" }}
    {{- $code := resources.Get $codeScriptPath | resources.ExecuteAsTemplate $codeScriptPath . }}

    {{- $customScriptPath := "js/custom.js" }}
    {{- $custom := resources.Get $customScriptPath | resources.ExecuteAsTemplate $customScriptPath . }}

    {{- $mainScriptPath := "js/index.js" }}
    {{- $main := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . }}

    {{- $bundle := slice $highlight $functions $code $main $custom | resources.Concat "js/bundle.js" | resources.Fingerprint "sha512" -}}

    <!-- preload assets declaration -->
    <link rel="preload" href="{{ $styles.Permalink }}" integrity = '{{ $styles.Data.Integrity }}' as="style">
    <link rel="preload" href="{{ $bundle.Permalink }}" as="script">


    {{- with .Site.Params.customJS }}
    {{- range . -}}
    <script type="text/javascript" src="{{ . | relURL }}" ></script>
    {{- end }}
    {{- end }}

    <!-- styles file -->
    <link rel = 'stylesheet' href = '{{ $styles.Permalink }}' integrity = '{{ $styles.Data.Integrity }}'>
    {{- with .Site.Params.customCSS }}
    {{- range . -}}
	  <link rel="stylesheet" href="{{ . | relURL }}">
    {{- end }}
    {{- end }}

    <!-- BGN: Paninap Head Bottom -->
      {{- if templates.Exists "partials/paninap-head-02-btm.html" -}}
        {{ partial "paninap-head-02-btm.html" . }}
      {{- end }}
    <!-- END: Paninap Head Bottom -->

    <!-- BGN: Paninap Custom Theme -->
      {{- if templates.Exists "partials/paninap-head-03-custom-theme.html" -}}
        {{ partial "paninap-head-03-custom-theme.html" . }}
      {{- end }}
    <!-- END: Paninap Custom Theme -->

  </head>
  {{- $maxCodeLines := 100 }}
  {{- $params := .Site.Params }}
  {{- with $params.codeMaxLines }}
    {{- $maxCodeLines = . }}
  {{- end }}
  {{- with .Params.codeMaxLines }}
    {{- $maxCodeLines = . }}
  {{- end }}
  {{- $codeLineNumbers := false }}
  {{ with $params.codeLineNumbers }}
    {{- $codeLineNumbers = . }}
  {{ end }}
  {{ with .Params.codeLineNumbers }}
    {{- $codeLineNumbers = . }}
    {{ else }}
    {{ if eq .Params.codeLineNumbers false }}
      {{- $codeLineNumbers = false }}
    {{ end }}
  {{ end }}
  <body data-code="{{ $maxCodeLines }}" data-lines="{{ $codeLineNumbers }}" id="documentTop">
    {{- partial "nav" . }}
    <main>
      {{- block "main" . }}{{ end }}
    </main>
    {{- partial "icons" }}
    {{- partial "footer" . }}
    <script src = '{{ $bundle.Permalink }}'></script>
  </body>
</html>
