{{- define "main" }}
{{- $scratch := newScratch }}
{{- if isset .Params "image" }}
  {{- $scratch.Set "image" .Params.image }}
{{- else }}
  {{ $scratch.Set "image" .Site.Params.fallBackOgImage }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := (path.Join "images" $image | absLangURL) }}
<div class = 'grid-inverse wrap content'>
  <article class='post_content'>
    {{ if .IsTranslated }}
      [ {{ i18n "postAvailable" }}: {{ range .Translations }}
          <!-- <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a> -->
          <a href="{{ .Permalink }}">{{ .Lang }}</a>
      {{ end }} ]
    {{ end }}
    <h1 class='post_title'>{{ .Title }}</h1>
    {{- partial "post-meta" . }}
    {{ partial "share" . }}
    {{ with .Params.featureImage }}
    <img src = '{{ . }}' class="image_featured">
    {{ end }}
    {{ if .Params.toc }}
    <h2>Overview</h2>
    {{ .TableOfContents }}
    {{ end }}
    {{- .Content }}
  </article>
  {{- partial "sidebar" . }}
</div>
{{- end }}
