<footer class='footer'>
	<!-- BGN: Paninap -->
		<div class="global_footer grid_center" style="width: 70%;">
			<div class="best_viewed txt_center">
				Best viewed in <b>Gecko-based</b> (<b><a href="https://getfirefox.com" rel="noopener external nofollow" referrerpolicy="strict-origin-when-cross-origin">Firefox</a></b>) &amp; <b>Goanna-based</b> (<b><a href="https://www.palemoon.org" rel="noopener external nofollow" referrerpolicy="strict-origin-when-cross-origin">Pale Moon</a></b>) browsers.
				<br/>
				(<a href="https://techmagus.icu/browser-wars-3-blink-gecko-quantum/" rel="me noopener external">#BrowserWars3</a>)
			</div>
			<div class="menu_footer txt_center">
				[
				<a href='/' rel='me noopener'>Home</a> |
				<a href='https://welfareness.icu/about-us/' rel='me noopener'>About Us</a> |
				<a href='https://welfareness.icu/terms/' rel='me noopener'>Terms of Service</a> |
				<a href='https://welfareness.icu/privacy-policy/' rel='me noopener'>Privacy Policy</a> |
				<a href='https://welfareness.icu/legal-notice/' rel='me noopener'>Legal Notice</a> |
				<a href='https://welfareness.icu/disclosure/' rel='me noopener'>Disclosure</a> |
				<a href='https://welfareness.icu/contact-us/' rel='me noopener'>Contact Us</a> |
				<a href='https://welfareness.icu' rel='me noopener'>Welfareness</a>
				]
			</div>
			<div class="cc_icons txt_center">
				<a href="https://creativecommons.org/licenses/by-sa/4.0/" aria-label="Content License: Creative Commons Attribution-ShareAlike 4.0 International" rel="license noopener external nofollow" referrerpolicy="strict-origin-when-cross-origin"><i class="cc cc-cc cc-2x text-red" aria-hidden="true" title="Content License: Creative Commons Attribution-ShareAlike 4.0 International"></i> <i class="cc cc-by cc-2x text-green" aria-hidden="true" title="Content License: Creative Commons Attribution-ShareAlike 4.0 International"></i> <i class="cc cc-sa cc-2x text-blue" aria-hidden="true" title="Content License: Creative Commons Attribution-ShareAlike 4.0 International"></i></a>
				<!-- <a href="https://creativecommons.org/licenses/by-sa/4.0/" aria-label="Content License: Creative Commons Attribution-ShareAlike 4.0 International" rel="license noopener external nofollow" referrerpolicy="strict-origin-when-cross-origin"><i class="cc cc-THREE cc-2x text-green" aria-hidden="true" title="Content License: Creative Commons Attribution-ShareAlike 4.0 International"></i></a> -->
			</div>
			<div class="ypub txt_left">
				<a href="https://yelosan.snoworld.one" title="There Can Be Only One!" rel="me noopener external">&#x1F90E;</a>
			</div>
			<div class="copyleft txt_center">
				{{ .Site.Params.copyleft.ContentOn | safeHTML }} {{ .Site.Params.copyleft.SiteTitle | safeHTML }} Copyleft &#x1F12F; {{ now.Format "2006" }} <a xmlns:cc="https://creativecommons.org/ns#" href="https://keybase.io/yukino" property="cc:attributionName" rel="cc:attributionURL me noopener external" referrerpolicy="strict-origin-when-cross-origin"><ruby><rbc><rb>{{ .Site.Params.name.yahuhanan | safeHTML }}</rb> <rb>{{ .Site.Params.name.yukia | safeHTML }}</rb> <rb lang="fil">{{ .Site.Params.name.sese | safeHTML }}</rb> <rb lang="fil">{{ .Site.Params.name.cuneta | safeHTML }}</rb></rbc><rtc class="reading rtc_over"><rp>(</rp><rt lang="he">יהוחנן</rt><rp>)</rp> <rp>(</rp><rt lang="ja">雪亮</rt><rp>)</rp> <rp>(</rp><rt lang="zh">謝</rt><rp>)</rp></rtc><rtc class="reading rtc_over"><rt></rt> <rp>(</rp><rt lang="ja">ゆきあ</rt><rp>)</rp></rtc><rtc class="rtc_under"><rt></rt> <rp>(</rp><rt lang="zh-Latn">Xuěliàng</rt><rp>)</rp> <rp>(</rp><rt lang="zh-Latn">Xie</rt><rp>)</rp></rtc></ruby></a>{{ .Site.Params.copyleft.UnlessOtherwise | safeHTML }}
				<!--
				<br/>
				Permissions beyond the scope of this license may be available at <a xmlns:cc="https://creativecommons.org/ns#" href="https://CHANGE_THIS/legal-notice/" rel="cc:morePermissions me noopener">https://CHANGE_THIS/legal-notice/</a>.
				-->
			</div>
			<div class="gfiles txt_right">
				<a href="https://1way.faith" title="I Want to Believe!" rel="me noopener external">&#x1F54E;</a>
			</div>
		</div>
	<!-- END: Paninap -->

	<!-- <div class='footer_inner wrap pale'> -->
	<div class='wrap pale txt_center'>
		<!-- <img src='{{ absURL "icons/apple-touch-icon.png" }}' class='icon icon_2 transparent'> -->
		<!-- <p>Copyright &copy;&nbsp;<span class='year'></span>&nbsp;{{ .Site.Title | upper }}. All Rights Reserved</p> -->

		<p>
			<span>{{ i18n "poweredby" }} <a href="http://gohugo.io" rel="noopener external nofollow" referrerpolicy="strict-origin-when-cross-origin">Hugo</a></span> |
			<span><a href="https://themes.gohugo.io/hugo-clarity/" rel="noopener external nofollow" referrerpolicy="strict-origin-when-cross-origin">{{ i18n "themeby" }}</a> <a href="https://neonmirrors.net" rel="noopener external nofollow" referrerpolicy="strict-origin-when-cross-origin">Chip Zoller</a> &amp; <a href="https://github.com/onweru" rel="noopener external nofollow" referrerpolicy="strict-origin-when-cross-origin">Dan Weru</a></span>
		</p>

		{{- partial "top" .}}
	</div>
</footer>
