{{- $params := .Site.Params }}
{{- $centerLogo := $params.centerLogo }}
{{ $logo := $params.logo }}
<header class = 'nav_header' >
  <nav class = 'nav'>
    <a href='{{ absLangURL "" }}' class = 'nav_brand nav_item{{ if eq $centerLogo true }} nav_hide{{ end }}'>
      {{- with $logo }}
      <img src="{{ absURL . }}" class="logo">
      {{- else }}
        {{ .Site.Title }}
      {{- end }}
      <div class = 'nav_close'>
        <svg class="icon">
          <use xlink:href="#open-menu"></use>
        </svg>
        <svg class="icon">
          <use xlink:href="#closeme"></use>
        </svg>
      </div>
    </a>
    <div class = 'nav_body nav_body_{{ .Site.Params.mobileNavigation }}'>
      {{- $link := .RelPermalink }}
      {{- range .Site.Data.menu }}
      <div class = 'nav_parent{{ if eq .link $link }} nav_active{{ end}}'>
        <a href = '{{ absLangURL .link }}' class = 'nav_item'>{{ .name }} {{ with .submenu }}<img src= {{ absURL "icons/caret-icon.svg" }} alt="icon" class="nav_icon">{{ end }}</a>
        {{- with .submenu }}
        <div class = 'nav_sub'>
          {{- range . }}
          <a href = '{{ absLangURL .link }}' class = 'nav_child nav_item'>{{ .name }}</a>
          {{- end }}
        </div>
        {{- end }}
      </div>
      {{- end }}
      {{- if eq $centerLogo true }}
      <a href='{{ absLangURL "" }}' class = 'nav_brand nav_center nav_item'>
        <img src="{{ absURL $logo }}" class="logo">
      </a>
      {{- end }}
      {{- partial "follow" . }}
    </div>

    <div>
      {{ if .IsTranslated }}
        {{ i18n "translations" }}: {{ range .Translations }}
          <!-- <a href="{{ .Permalink }}">[<span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span>]</a> -->
          <a href="{{ .Permalink }}">{{ .Lang }}</a>
        {{ end }}
      {{ end }}
    </div>
  </nav>
</header>
