<!-- BGN: Paninap -->
	<link href="https://cdn.jsdelivr.net/npm/fork-awesome/css/fork-awesome.min.css" media="all" rel="stylesheet" type="text/css" referrerpolicy="strict-origin-when-cross-origin" />
	<link href="https://rsc.laibcoms.com/css/paninap-fonts.css" media="all" rel="stylesheet" type="text/css" referrerpolicy="strict-origin-when-cross-origin" />
	<script src="https://cdn.jsdelivr.net/npm/twemoji/dist/twemoji.min.js" crossorigin="anonymous"></script>
	<script type="text/javascript">//<![CDATA[
		/* Source: https://stackoverflow.com/a/40310653/306674 */
		function onReady(insertTwemoji) {
			var readyStateCheckInterval = setInterval(function() {
				if (document && document.readyState === 'complete') {
					clearInterval(readyStateCheckInterval);
					insertTwemoji();
				}
			}, 10);
		}
		onReady(function() {
			twemoji.parse( document.body, {
				ext: '.svg',
				folder: 'svg',
				callback: function(icon, options) {
					return ''.concat(
						options.base,
						options.size,
						'/',
						icon,
						options.ext
					);
				}
			});
		});
	//]]></script>
	<link href="https://cdn.jsdelivr.net/gh/cc-icons/cc-icons/css/cc-icons.min.css" media="all" rel="stylesheet" type="text/css" referrerpolicy="strict-origin-when-cross-origin" />
	<link href="https://rsc.laibcoms.com/css/paninap-style.css" media="all" rel="stylesheet" type="text/css" referrerpolicy="strict-origin-when-cross-origin" />

	<link href="https://iam.youronly.one" rel="author me" referrerpolicy="strict-origin-when-cross-origin" />
	<link href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license" referrerpolicy="strict-origin-when-cross-origin" />

	<!-- BGN: rel-me -->
		<!-- Keybase -->
			<link href="https://keybase.io/yukino" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://iam.youronly.one" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://keybase.pub/yukino" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://yukino.keybase.pub" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

		<!-- My Sites -->
			<link href="https://jcsesecuneta.com" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://laibcoms.com" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://fediverse.blog/~/WhenSnowFalls/" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://fediverse.blog/~/Sandbox/" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

		<!-- Fediverse -->
			<!-- <link href="https://hub.zilla.tech/channel/yahananxie" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
			<link href="https://aleph.land/@yahananxie" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://diasp.org/u/jcsesecuneta" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://iscute.moe/users/yuki" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://fediverse.blog/@/yuki" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://peertube.social/accounts/yuki" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

		<!-- Proprietary networks -->
			<link href="https://news.ycombinator.com/user?id=techmagus" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://steemit.com/@yahananxie" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://linkedin.com/in/yahananxie/" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://facebook.com/jcsesecuneta" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://facebook.com/jcjohnsesecuneta" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://plurk.com/Laibcoms" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://twitter.com/yahananxie" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

		<!-- Other Central Networks -->
			<link href="https://gravatar.com/jcjohnsesecuneta" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

		<!-- My Brands -->
			<!-- YELOSAN PUBLISHING -->
				<link href="https://yelosan.snoworld.one" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

			<!-- Paninap Services -->
				<link href="https://rsc.laibcoms.com" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

			<!-- The Faithful Athlete -->
				<link href="https://faithfulathlete.youronly.one" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://linktr.ee/faithfulathlete" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://facebook.com/faithful.athlete" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://instagram.com/faithful.athlete" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://twitter.com/faithfulatleta" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://youtube.com/channel/UCgRoTRj_3cVi6DlVk_d6RRQ/" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://faithfulathlete.blogspot.com" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://storyteller.fit/writer/41154967" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://koyu.space/@faithfulathlete" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://peertube.social/video-channels/faithfulathlete" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

			<!-- The Confident Traveler -->
				<link href="https://confidentraveler.youronly.one" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://linktr.ee/confidentraveler" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://facebook.com/confidentraveler" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://instagram.com/confidentraveler" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://twitter.com/confidentravel" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://youtube.com/channel/UCdOr3nZaEpkIrPP_vJt4bog/" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://confidentraveler.blogspot.com" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://peertube.social/video-channels/confidentraveler" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

			<!-- The Yūgen Bard -->
				<link href="https://yugenbard.youronly.one" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://facebook.com/yugenbard" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://instagram.com/yugenbard" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://twitter.com/yugenbard" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://youtube.com/channel/UCAVvgdxvgjvm_WLPVwSS7Hw/" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://yugenbard.blogspot.com" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://peertube.social/video-channels/yugenbard" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

			<!-- 1way.faith -->
				<link href="https://derekhanatsari.blogspot.com" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://theres.life/@1wayfaith" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="PIXELFED" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<!-- <link href="https://peertube.social/accounts/___" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->

				<link href="https://facebook.com/1way.faith" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="https://pinterest.com/___/" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<link href="https://instagram.com/1way.faith" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://twitter.com/1wayfaith" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="https://youtube.com/___" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->

			<!-- beauty.moe -->
				<link href="https://beauty.moe" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://www.beauty.moe" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="FEDIVERSE" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<!-- <link href="PIXELFED" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<!-- <link href="PEERTUBE" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->

				<!-- <link href="FACEBOOK" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<!-- <link href="INSTAGRAM" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<!-- <link href="PINTEREST" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<!-- <link href="TWITTER" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<!-- <link href="YOUTUBE" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->

			<!-- gameshogun.xyz -->
				<link href="https://gameshogun.xyz" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="https://mmorpg.social/@gameshogun" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<!-- <link href="PIXELFED" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<link href="https://peertube.social/accounts/gameshogun" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

				<link href="https://facebook.com/gameshogun" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://instagram.com/gameshogun" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://pinterest.com/gameshogun/" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://twitter.com/gameshogun" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://youtube.com/gameshogunws" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

			<!-- snoworld.one -->
				<link href="https://snoworld.one" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://kerah.snoworld.one" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://quey.org/@snoworld" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="PIXELFED" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<link href="https://peertube.social/accounts/snoworld" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

				<link href="https://facebook.com/snoworld" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://instagram.com/snoworld1" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="https://pinterest.com/___" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<link href="https://twitter.com/snoworld" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://youtube.com/SnoworldOrg23" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

			<!-- techmagus.icu -->
				<link href="https://techmagus.icu" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://codex.techmagus.icu" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://qoto.org/@techmagus" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="PIXELFED" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<link href="https://peertube.social/accounts/techmagus" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

				<link href="https://facebook.com/techmagus" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://instagram.com/techmagus" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="https://pinterest.com/___" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<link href="https://twitter.com/techmagusninja" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://youtube.com/techmagusninja8" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

			<!-- verses.space -->
				<link href="https://Verses.Space" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://writing.exchange/@VersesSpace" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="PIXELFED" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<!-- <link href="https://peertube.social/accounts/___" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->

				<link href="https://facebook.com/verses.space" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://instagram.com/verses.space" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="https://pinterest.com/___" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<link href="https://twitter.com/versesspace" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="https://youtube.com/____" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->

			<!-- welfareness.icu -->
				<link href="https://welfareness.icu" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://health.welfareness.icu" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://wealth.welfareness.icu" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://mstdn.social/@welfareness" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="PIXELFED" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<!-- <link href="https://peertube.social/accounts/___" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->

				<link href="https://facebook.com/welfareness" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://facebook.com/healthwelfareness" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://facebook.com/wealthwelfareness" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://instagram.com/welfareness" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://instagram.com/healthwelfareness" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://instagram.com/wealthwelfareness" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://pinterest.com/CleanRealFood/" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://twitter.com/welfareness" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://youtube.com/RealfoodSpace24" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

			<!-- youronly.one -->
				<link href="https://YourOnly.One" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://im.YourOnly.One" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://www.YourOnly.One" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://mastodon.social/@youronlyone" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="PIXELFED" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<!-- <link href="https://peertube.social/accounts/___" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->

				<link href="https://facebook.com/YourOnly.One7" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://instagram.com/youronly.one" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<!-- <link href="https://pinterest.com/___" rel="me" referrerpolicy="strict-origin-when-cross-origin" /> -->
				<link href="https://twitter.com/YourOnlyOne7" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
				<link href="https://youtube.com/YourOnlyOne7" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

		<!-- Dev/Crowdsourcing -->
			<link href="https://gitlab.com/techmagus" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://bitbucket.org/techmagus/" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://framagit.org/techmagus" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://launchpad.net/~techmagus" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://stackexchange.com/users/117040/yukino" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://github.com/techmagus" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

		<!-- Photo/Images/Sound/Video -->
			<link href="https://eyeem.com/u/jcsesecuneta" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://flickr.com/people/laibcoms/" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://instagram.com/yahananxie" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://instagram.com/jcsesecuneta" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://last.fm/user/Laibcoms" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://libre.fm/user/Laibcoms" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://pinterest.com/jcsesecuneta/" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://soundcloud.com/jcsesecuneta" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://open.spotify.com/user/jcsesecuneta" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://vimeo.com/jcsesecuneta" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://youtube.com/laibcoms" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://youtube.com/jcjohnsesecuneta" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

		<!-- Creatives -->
			<link href="https://www.deviantart.com/laibcoms" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://fictionpress.com/~yugenbard" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://fanfiction.net/~yugenbard" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://wattpad.com/user/yahananxie" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

		<!-- Bookmark Networks / Forums -->
			<link href="https://digg.com/u/yukino" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://reddit.com/user/Laibcoms/" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://stumbleupon.com/stumbler/Laibcoms" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

		<!-- Gaming -->
			<link href="https://steamcommunity.com/id/gameshogun" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://twitch.tv/gameshogun" rel="me" referrerpolicy="strict-origin-when-cross-origin" />

		<!-- Others -->
			<link href="https://anime-planet.com/users/snoworld" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://goodreads.com/snoworld" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://myanimelist.net/profile/snoworld" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://tripadvisor.com/members/snoworldone" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
			<link href="https://google.com/maps/contrib/107219430233856542092/reviews?hl=en-PH" rel="me" referrerpolicy="strict-origin-when-cross-origin" />
	<!-- END: rel-me -->
<!-- END: Paninap -->
