<div class = 'post_meta'>
  <svg class="icon">
    <use xlink:href="#calendar"></use>
  </svg>
  <span class="post_date">
    {{ .Date.Format "Jan 2, 2006" -}}
  </span>
  {{ range $taxonomyLangTag := $.Site.Params.taxonomyLangTags }}
    {{ range $taxonomyName, $taxonomyValue := $.Site.Taxonomies }}
      {{ if eq $taxonomyLangTag $taxonomyName }}
        {{ $taxonomyLangTag := $taxonomyLangTag | urlize }}
        {{ range $taxonomyValue, $nn := $taxonomyValue }}
          <a href='{{ $taxonomyLangTag | absLangURL }}/{{ $taxonomyValue | urlize }}' class='post_tag button button_translucent'>{{- $taxonomyValue }}</a>
        {{- end }}
      {{- end }}
    {{ end }}
  {{ end }}
</div>
